<ion-header no-border>
  <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Feed </ion-title>    
  </ion-toolbar>
</ion-header>  
<ion-content>
  <ion-card class="bg-white">
    <!-- <ion-list-header>Selecione o Trecho</ion-list-header>       -->
    <ion-item>
          <ion-label>Origem</ion-label>
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
            <ion-select-option value="breves">Breves</ion-select-option>
            <ion-select-option value="portel">Portel</ion-select-option>
            <ion-select-option value="melgaço">Melgaço</ion-select-option>
            <ion-select-option value="belem">Belém</ion-select-option>
            <ion-select-option value="curralinho">Curralinho</ion-select-option>
          </ion-select>
    </ion-item>
    <ion-item>
          <ion-label>Destino</ion-label>
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
            <ion-select-option value="breves">Breves</ion-select-option>
            <ion-select-option value="portel">Portel</ion-select-option>
            <ion-select-option value="melgaço">Melgaço</ion-select-option>
            <ion-select-option value="belem">Belém</ion-select-option>
            <ion-select-option value="curralinho">Curralinho</ion-select-option>
          </ion-select>          
    </ion-item>
    <ion-item>
        <ion-button color="success" size="small" slot="end" style="align-items: center;">
            Procurar
            <ion-icon slot="end" name="search"></ion-icon>
          </ion-button>
    </ion-item>
      
  </ion-card>        
</ion-content>
