<ion-content padding class="animated fadeIn login auth-page">
    <div class="theme-bg"></div>
    <div class="auth-content">
        <div padding-horizontal text-center class="animated fadeInDown">
        <br>
        <h4 no-margin>
          <ion-text color="light" class="fw700">
           Cadastro de Usuário
          </ion-text>
        </h4>
      </div>
      <br>
      <!-- Cadastro form -->
    <form [formGroup]="cadUsuarioForm" (ngSubmit)="cadUsuario(cadUsuarioForm.value)" class="list-form">
      <!-- email -->
        <ion-item>
            <ion-label position="floating">Email: </ion-label>
          <ion-input color="secondary" type="email" formControlName="email"></ion-input>
        </ion-item>
        <p ion-text class="text08" *ngIf="cadUsuarioForm.get('email').touched && cadUsuarioForm.get('email').hasError('required')">
            <ion-text color="warning">* Campo Obrigatório</ion-text>
        </p>
        <!-- Senha -->
        <ion-item>
            <ion-label position="floating">Senha: </ion-label>
          <ion-input color="secondary" type="password" formControlName="senha" ng-minlength=6></ion-input>
        </ion-item>
        <p ion-text color="warning" class="text08" *ngIf="cadUsuarioForm.get('senha').touched && cadUsuarioForm.get('senha').hasError('required')">
          <ion-text color="warning">* Campo Obrigatório</ion-text>
        </p>
        <!-- Nome -->
        <ion-item>
            <ion-label position="floating">Nome: </ion-label>
          <ion-input color="secondary" type="text" formControlName="nome"></ion-input>
        </ion-item>
        <p ion-text color="warning" class="text08" *ngIf="cadUsuarioForm.get('nome').touched && cadUsuarioForm.get('nome').hasError('required')">
          <ion-text color="warning">* Campo Obrigatório</ion-text>
        </p>
        
        
        <!--======================BOTÕES==========================-->
        <br>
      <ion-item>
        <ion-button (click)="voltar()" size="medium" color="danger" style="align-items: left;">
          Voltar
          <ion-icon slot="end" name="close"></ion-icon>
        </ion-button>
        <ion-button type="submit" size="medium" color="secondary" style="align-items: right;" [disabled]="!cadUsuarioForm.valid" tappable>
          Cadastrar
          <ion-icon slot="end" name="save"></ion-icon>
        </ion-button>
      </ion-item>
      </form>
      </div>
</ion-content>
