<ion-content padding class="animated fadeIn login auth-page">
    <div class="theme-bg"></div>
    <div class="auth-content">
  
      <!-- Logo -->
      <div padding-horizontal text-center class="animated fadeInDown">
        <div class="logo"></div>
        <!-- <h4 no-margin>
          <ion-text color="light" class="fw700">
           Marajó Passagens
          </ion-text>
        </h4> -->
      </div>
      <!-- Email form -->
      <form [formGroup]="onLoginForm" (ngSubmit)="logar(onLoginForm.value)" class="list-form">
        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating">
            <ion-icon name="person" item-start></ion-icon>Email:</ion-label>
          <ion-input color="secondary" type="email" formControlName="email"></ion-input>
        </ion-item>
        <p ion-text class="text08" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
            <ion-text color="warning">* Campo Obrigatório</ion-text>
        </p>
        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating">
            <ion-icon name="lock" item-start></ion-icon>Senha:</ion-label>
          <ion-input color="secondary" type="password" formControlName="senha"></ion-input>
        </ion-item>
        <p ion-text color="warning" class="text08" *ngIf="onLoginForm.get('senha').touched && onLoginForm.get('senha').hasError('required')">
          <ion-text color="warning">* Campo Obrigatório</ion-text>
        </p>
        <br>          
        <ion-button type="submit" icon-left size="medium" expand="full" shape="round" color="dark" [disabled]="!onLoginForm.valid" tappable>
          <ion-icon name="log-in"></ion-icon> Entrar
        </ion-button>
      </form>
      <div>       
  
        <p text-center>
          <ion-text color="light">
            Ou Entrar com:
          </ion-text>
        </p>
  
        <ion-grid class="btn-group">
          <ion-row>
            <ion-col size="4">
              <ion-button shape="round" expand="full" color="secondary">
                <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button shape="round" expand="full" color="secondary">
                <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button shape="round" expand="full" color="secondary">
                <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </div>
  
      <!-- Other links -->
      <div text-center margin-top>
        <span (click)="newUser()" class="paz" tappable>
          <ion-text color="light">
            Novo aqui? <strong>Cadastrar-se</strong>
          </ion-text>
        </span>
      </div>
  
    </div>
  </ion-content>